@charset "UTF-8";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    min-width: 100vh;
    height: 100vh;
}

body {
    display: grid;
    place-items: center;
    background-color: #0000BB;
    color: #fff;
}

header {
    color: #fff;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

section {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .1rem #000;
    padding: 1rem;
    width: 45rem;
    height: 30rem;
}

section div {
    background-color: red;
}

footer {
    text-align: center;
    font: normal bold 1.1rem Arial, sans-serif;
    padding: 1rem;
    color: #fff;
}